.userAgree{
    .container{
        display: flex;
        flex-direction: row;
        margin: 10px;
        justify-content: space-around;
        align-items: center;

        .desc{
            padding: 10px;
            font-size: 13px;
            font-family: 'Ubuntu',sans-serif;
            cursor: pointer;
            h3{
                margin: 10px;
                font-weight: 500;
                font-size: 18px;
            }
            p{
                margin: 10px;
                font-weight: 400;
                font-size: 12px;
                .icons{
                    height: 25px;
                    
                }
            }
        }

        .desc:hover{
            background-color: rgb(240, 247, 247);
        }
    }
}